/* admin.layout.css */

.admin-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 1rem;
}

.filters-banner {
	display: flex;
	padding-inline: 1rem;
}