/* buttons.css */

.btn-filter {
	font-size: .9rem;
	height: 2rem;
}

.btn-setting {
	font-size: 1.2rem;
	background-color: var(--aery-transparent);
	color: var(--btn-gray-color2);
}

.btn-setting:hover {
	color: var(--aery-black);
}