/* dashboard.css */

/* Containers' styles:
general styles for the
containers, commonlly found
elements and classes to use
on the admin dashboard. */

#dashboard-content-view {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
}

.dashboard-view-sm {
	width: 50%;
}

.dashboard-view-md {
	width: 70%;
}

.dashboard-view-lg {
	width: 100%;
}

#dashboard-content-view form {
	display: flex;
	flex-direction: column;
	border-radius: .4rem;
}

#dashboard-content-view fieldset {
	border-radius: .4rem;
}

#dashboard-content-view textarea {
	height: 7rem;
	min-height: 7rem;
	max-height: 10rem;
	resize: vertical;
}

.field-set-v {
	margin-block: .5rem;
	display: flex;
	flex-direction: column;
}

.field-set-h {
	margin-block: .5rem;
	display: flex;
	flex-direction: row;
}

.field-set-h > * {
	flex: 1;
}

.field-set-v.borderless,
.field-set-h.borderless {
	border: none;
}

.field-group {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	margin-block: .4rem;
}