/* dashboard.css */

#galleries {
	--card-size: 200px;
	--columns-count: 5;
}

#dashboard-content-view {
	display: flex;
	justify-content: center;
}

#dashboard-content-view article[id*=view] {
	width: 70%;
}

#dashboard-content-view form {
	display: flex;
	flex-direction: column;
	border-radius: .4rem;
}

#dashboard-content-view fieldset {
	border-radius: .4rem;
}

#dashboard-content-view textarea {
	height: 7rem;
	min-height: 7rem;
	max-height: 10rem;
	resize: vertical;
}

.field-set {
	margin-block: .5rem;
	display: flex;
	flex-direction: column;
}

.field-set-h {
	display: flex;
	flex-direction: row;
}

.field-set-h > * {
	flex: 1;
}

.field-set.borderless,
.field-subset.borderless {
	border: none;
}

.field-subset {
	display: flex;
	flex-direction: column;
}

.field-group {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	margin-block: .4rem;
}

#txt-gallery-pin {
	font-size: 1rem;
	padding: 1px;
	text-indent: .2rem;
	width: 10ch;
}

#number-favorite-limit {
	font-size: 1rem;
	padding: 1px;
	text-indent: .2rem;
	width: 6ch;

	/* line aspect */
	background-color: var(--aery-transparent);
	border: none;
	border-radius: 0;
	border-bottom: 1px solid var(--primary);
	outline: none;
}