/* dashboard-sidebar.css */

.sidebar-header {
	height: 40px;
	max-height: 40px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar-body {
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar-options {
	/* variables */
	--li-height: 48px;
	--li-gap: .3rem;
	--li-color: var(--text-color);
	--li-bg-color: var(--bg-white1);
	--li-bg-color-hover: var(--bg-white3);
	--li-color-active: var(--aery-primary);
	--li-bg-color-active: var(--aery-gray3);

	/* reset */
	list-style-type: none;

	/* layout */
	display: flex;
	flex-direction: column;
	gap: .2rem;
}

.sidebar-options > li {
	min-height: var(--li-height);
	height: var(--li-height);
	display: flex;
	align-items: center;
	gap: var(--li-gap);
	background-color: var(--li-bg-color);
	padding-left: .5rem;
	color: var(--li-color);
	font-size: 1.2rem;
	text-decoration: none;
	cursor: pointer;
}

.sidebar-options > li:not(.is-active):hover {
	background-color: var(--li-bg-color-hover);
}

.sidebar-options > li.is-active {
	background-color: var(--li-bg-color-active);
	color: var(--li-color-active);
	cursor: default;
}

.sidebar-footer {
	min-height: 40px;
	max-height: 50px;
	height: 50px;
	overflow: hidden;
	margin-block: .4rem;
}

.admin-actions {
	display: flex;
	flex-direction: column;
	gap: .3rem;
	padding-inline: .5rem;
}