/* admin.layout.css */

/* Force all elements with
hidden attribute to hide.
This avoids having to toggle
the display property in multiple
elements and centralizes the
dynamic manipulation through the
hidden attribute. */
[hidden] {
	display: none !important;
}

/* admin header and
inner elements */
.admin-header {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	padding-inline: 1rem;
	padding-block: 0;
	height: calc(
		var(--header-height) +
		var(--filters-panel-height) +
		var(--filters-panel-margin)
	);
}

.admin-header-top {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 1;
}

.main-title {
	display: flex;
}

#galleries-search-container {
	flex: 1;
	margin-inline: 1rem;
}

#search-gallery {
	width: 35vw;
	max-width: 700px;
	padding: .4rem .5rem;
}

#search-gallery::placeholder {
	color: var(--aery-gray);
}

.filters-bar {
	display: flex;
	gap: .5rem;
	align-items: center;
	margin-block:
		var(--filters-panel-margin);
}

#dashboard {
	height: 100%;
	min-height:
		var(--dashboard-height);
	max-height: 
		var(--dashboard-height);
	width: 100%;
	display: flex;
	gap: .3rem;
}

#dashboard-content-view {
	flex-grow: 1;
	overflow-y: auto;
}