/* admin.layout.css */

/* admin header and
inner elements */
.admin-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	height: var(--header-height);
}

#frm-search-galleries {
	flex: 1;
	margin-inline: 1rem;
}

#search-gallery {
	width: 300px;
	padding: .3rem .5rem;
}

#search-gallery::placeholder {
	color: var(--aery-gray);
}

.filters-panel {
	display: flex;
	gap: .5rem;
	align-items: center;
	padding-inline: 1rem;
	margin-block:
		var(--filters-panel-margin);
	height:
		var(--filters-panel-height);
}

#dashboard {
	height: 100%;
	min-height:
		var(--dashboard-height);
	max-height: 
		var(--dashboard-height);
	width: 100%;
	display: flex;
	gap: .3rem;
}

.dashboard-content {
	flex-grow: 1;
}