/* layout.css */

/* Here are defined general styles for 
elements that are direct part of the page
structure. Often, the elements that repeat
in the exact same order across the pages.
For example: header>nav>main>section>footer */

body {
	background-color: var(--bg-white1);
}

main a {
	color: var(--aery-primary);
}

main a:hover {
	text-decoration: none;
}

/* header for sections where
there are hgroup */
.body-header {
	text-align: center;
	margin: 2rem 0;
	margin-bottom: 0;
}