/* variables.css */

/* Global variables common to all pages
excluding local variables.

Will use the following rules for names
--brand-varname for general variables.
--brand-color for named/specific colors.
--brand-colorN for hex colors.
--component-shorthand for specific
components.
--property-name for global use.
--auto-descriptive-name (e.g.
btn-white-bg). */

:root {

	/* Brand pallete:
	pure colors and properties */
	--aery-primary: #562912;
	--primary-faded: #562912A5;
	--aery-secondary: #744A27;
	--secondary-faded: #744A27EB;
	--aery-white1: #F4F4F4;
	--aery-smokewhite1: #EFEFEF;
	--aery-smokewhite2: #E8E8E8;
	--aery-smokewhite3: #E4E4E4;
	--aery-gray1: #DDDDDD;
	--aery-gray2: #D3D3D3;
	--aery-gray3: #C7C7C7;
	--aery-darkgray1: #B1B1B1;
	--aery-darkgray2: #A0A0A0;

	/* Named colors: needed to
	centralize source of truth */
	--aery-black: #000;
	--aery-white: #FFF;
	--aery-gray: #808080;
	--aery-transparent: transparent;
	--aery-crimson: crimson;
	--aery-darkgray: darkgray;

	/* Design concepts:
	variables with meaning
	property-oriented names */

	/* texts */
	--text-color: #616161;
	--caption-color: var(--aery-white1);

	/* backgrounds */
	--bg-white1: var(--aery-white1);
	--bg-white2: var(--aery-smokewhite1);
	--bg-white3: var(--aery-smokewhite2);
	--bg-white4: #E0E0E0;

	/* Component tokens */
	
	/* ICONS */
	/* need to relocate
	don't know where yet */
	--footer-icon-size: 1.8rem;

	/* BUTTONS */

	/* backgrounds */
	--btn-white-bg1: var(--aery-smokewhite1);
	--btn-white-bg3: var(--aery-smokewhite3);
	--btn-gray-bg1: var(--aery-gray2);

	--form-button-bg: var(--aery-gray2);
	--form-button-bg-hover: var(--aery-darkgray1);
	--form-button-bg-active: var(--aery-darkgray2);

	/* button font color */
	--btn-gray-color2: #AAA;

	/* ADMIN VARIABLES */

	/* defining height for the
	header bar since the dashboard
	is not a header's child so
	cannot calc dashboards height
	through inheritance. */
	--header-height: 70px;
	--filters-panel-height: 2.1rem;
	--filters-panel-margin: 2px;

	/* the dashboard height takes
	the remaining after the header */
	--dashboard-height: calc(
		100vh -
		var(--header-height) -
		var(--filters-panel-height) -
		var(--filters-panel-margin) * 2
	);
}