/* variables.css */

/* Global variables common to all pages
excluding local variables.

Will use the following rules for names
--brand-varname for general variables.
--brand-color for named/specific colors.
--brand-colorN for hex colors.
--component-shorthand for specific
components.
--property-name for global use.
--auto-descriptive-name (e.g.
btn-white-bg). */

:root {

	/* BRAND: this file's use only */
	--aery-primary: #562912;
	--aery-secondary: #744A27;
	--aery-white1: #F4F4F4;
	--aery-smokewhite1: #EFEFEF;
	--aery-smokewhite2: #E8E8E8;
	--aery-gray1: #DDDDDD;
	--aery-gray2: #D3D3D3;
	--aery-gray3: #C7C7C7;
	--aery-reddish-brown: #A85904;

	/* CONSTANTS: to be used in other
	files. */

	/* common colors: needed to
	centralize source of truth */
	--aery-black: #000;
	--aery-white: #FFF;
	--aery-gray: #808080;
	--aery-transparent: transparent;
	--aery-crimson: crimson;
	--aery-darkgray: darkgray;

	/* main colors */
	--primary: var(--aery-primary);
	--secondary: var(--aery-secondary);
	--primary-faded: #562912A5;
	--secondary-faded: #744A27EB;

	/* COMPONENTS: to be used on the
	components of each page */

	--page-bg: var(--aery-white1);
	--bg-table-header: var(--primary-faded);
	--bg-table-row: var(--secondary-faded);
	--booking-selected: #AAA;
	--panel-bg: var(--aery-gray1);
	
	/* TEXTS */

	/* text colors */;
	--text-color: #616161;
	--caption-color: var(--aery-white1);

	/* text sizes */
	--footer-address-size: 1.1rem;
	--client-panel-icons-size: 1.4rem;

	/* ICONS */
	
	--footer-icon-size: 1.8rem;
	--footer-icon-margin: .5rem;

	/* BUTTONS */

	/* backgrounds */
	--btn-white-bg1: var(--aery-smokewhite1);
	--btn-gray-bg1: var(--aery-gray2);
	--btn-gray-bg2: var(--aery-gray3);

	--form-button-bg: var(--aery-gray2);
	--form-button-bg-hover: #B1B1B1;
	--form-button-bg-active: #A0A0A0;

	/* button font color */
	--btn-gray-color1: var(--aery-gray3);
	--btn-gray-color2: #AAA;

	--gallerycard-button: var(--aery-black);
	--gallerycard-button-hover: var(--secondary);
	--gallerycard-button-active: var(--primary);
	--gallerycard-button-checked: var(--secondary-faded);

	/* IMG */

	/* background of img containers */
	--img-bg: var(--aery-gray1);

	/* admin variables */
	--header-height: 70px;
	--filters-panel-height: 2.5rem;
	--filters-panel-margin: 1rem;

	--dashboard-height: calc(
		100vh -
		var(--header-height) -
		var(--filters-panel-height) -
		var(--filters-panel-margin) * 2
	);

	--card-title-size: 1rem;
	--card-data-text-size: .8rem;

	--status-icon-active-color: #03E513;
}