/* booking-picker.css */

/* PICKER HEADER:
includes month label and
navigation buttons */

/* datetime-picker header:
month label and buttons */
#month-controls {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 3rem;
	background-color: var(--primary);
	opacity: .89;
	color: var(--aery-white);
}

#month-controls button {
	/* reset needed so buttons take
	the full height of the container */
	border: none;
	outline: none;
	user-select: none;
	margin: 0;
	font-weight: inherit;
	font-size: inherit;
	color: var(--aery-white);
	background-color: var(--aery-transparent);
}

#month-controls > button > i {
	opacity: .5;
}

#month-controls button:hover i {
	opacity: .8;
}

#month-controls button:active i {
	opacity: 1;
}

/* center current month label
between the navigation buttons */
.current-month {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

/* DATETIME PICKER:
has the embedded lists with
the days and the hours */

/* ol containing the days */
#days-list {
	display: flex;
	flex-direction: column;
	max-height: 85vh;
	overflow-y: scroll;
}

/* li with the days, each
with an ol for the hours */
.day {
	display: flex;
	flex-direction: column;
	text-indent: 1rem;
}

/* day of the week and month */
.day > span {
	font-weight: bold;
	font-size: 1.5rem;
	border-bottom: 1px solid var(--aery-black);
	padding: .2rem;
}

.day > span:hover {
	background-color: var(--bg-white2);
}

/* ol containing hours of
the parent day */
.hours-list {
	display: flex;
	flex-direction: column;
}

/* li of the hours */
.hours-list li {
	font-size: 1.2rem;
	text-indent: 2.5rem;
	padding: .3rem 0;
	border-bottom: 1px solid var(--aery-black);
	background-color: var(--bg-gray2);
}

/* hover effect of hours
when not selected  */
.hours-list li:not(.is-selected):not(.is-scheduled):hover {
	background-color: var(--bg-gray3);
	cursor: pointer;
}

/* hours color when selected */
.hours-list .is-selected {
	background-color: var(--booking-selected);
	cursor: pointer;
}

/* hours style when scheduled
by the active user */
.hours-list .is-scheduled {
	cursor: default;
}

/* hours style when unavailable */
.hours-list .is-unavailable {
	cursor: not-allowed;
	opacity: .4;
}

/* PAGINATION */

/* pagination main container */
#selection-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#selection-info > div {
	padding-top: 1rem;
}

#selection-info button {
	padding: 0 !important;
}

/* container for pages with
remaining days of the month */
#calendar-pages {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	overflow-x: auto;
	max-width: 350px;
	white-space: wrap;
}

#calendar-pages .active-page {
	font-weight: bold;
}