/* buttons.css */

/* a-buttons: navigation button-shaped links for
visual attraction, meant for index, but reusable */

.a-buttons {
	display: inline-block;
	padding: 1.3rem 2rem;
	background-color: var(--secondary);
	color: var(--aery-white);
	text-decoration: none;
	border-radius: .8em;
	box-shadow: .15rem .35rem .35rem .15rem rgba(86, 41, 18, .4);
	transition: all .2s ease-in;
}

.a-buttons:hover, .a-buttons:focus {
	background-color: var(--primary);
	box-shadow: .12rem .25rem .25rem .1rem rgba(86, 41, 18, .4);
}

.a-buttons:active {
	transform: translate(0.1rem, 0.1rem);
	box-shadow: .1rem .2rem .2rem .08rem rgba(86, 41, 18, .6);
}

/* form buttons */

.form-button {
	background-color: var(--form-button-bg);
	border: 1px solid var(--primary);
	border-radius: .3rem;
	color: var(--primary);
	font-family: inherit;
	font-size: 1.1rem;
	font-weight: bold;
	margin: .4rem 0;
	padding: 1rem;
	outline: none;
	user-select: none;
}

.form-button:hover,
.form-button:hover,
.form-button:not(.icon-wrapper):hover {
	box-shadow: inset -1px -1px 3px var(--secondary);
 	background-color: var(--form-button-bg-hover);
}

.form-button:focus,
.form-button:focus,
.form-button:not(.icon-wrapper):focus {
	box-shadow: inset -1px -1px 1.5px var(--secondary);
}

.form-button:active,
.form-button:active,
.form-button:not(.icon-wrapper):active {
	background-color: var(--form-button-bg-focus);
	box-shadow: none;
}