/* cards.css */

/* Here are defined the styles of the cards
to be shown at entrega.html and portafolio.html
includes the complete component from container
to sub elements except for the overlay
which is optional but applicable from the
overlay component. */

/* CARD BASE */
.thumbnail {
	position: relative;
	aspect-ratio: 1;
	width: 100%;
	background-color: var(--aery-smokewhite2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.thumbnail img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	cursor: pointer;
}

/* CARD BUTTONS */

/* in case the cards have icons
this is the container */
.icon-box {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	position: absolute;
	top: .3rem;
	right: .3rem;
	background-color: var(--aery-transparent);
	color: var(--aery-black); /* icon color */
}

/* containers of individual icons
e.g. button or span.

This class is very important, it is
reused in many other files where the
children elements are <i> icons */
.icon-wrapper {
	border: none;
	outline: none; /* prevent icon ring */
	background-color: var(--aery-transparent);
	padding: .3rem;
	border-radius: 50%;
	color: var(--gallerycard-button); /* icon color */
	cursor: pointer;
}

.icon-wrapper:not(.is-favorite):not(.is-downloaded):hover {
	color: var(--gallerycard-button-hover);
}

.icon-wrapper:not(.is-favorite):not(.is-downloaded):active {
	color: var(--gallerycard-button-active);
}

.is-favorite,
.is-downloaded {
	color: var(--gallerycard-button-checked);
}

/* CARD CAPTIONS */

.img-captions {
	position: absolute;
	bottom: .8rem;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: var(--caption-color);
	font-weight: bold;
	font-size: 1.5rem;
	text-shadow: -1px -2px 5px var(--aery-black);
	padding: .2rem .4rem;
	border-radius: .2rem;
}

/* CARD STATES */

.locked-gallery img {
	opacity: .5;
}

.unlocked-gallery img {
	filter: brightness(.9) contrast(.9);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
	.thumbnail img {
		height: 40vh;
		width: 100%;
	}
}