/* client-panel.css */

/* banner para mostrar link de vuelta a la entrada
	principal a entrega.html. Este banner solo debe
	mostrarse cuando se entra a las galerias de un cliente */
#client-panel {
	min-height: 50px;
	width: 90vw;
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-inline: auto;
	padding-inline: .8rem;
	text-align: center;
}

#gallery-title {
	flex: 1;
}

#download-full-gallery {
	font-size: var(--client-panel-icons-size);
}

.back-to {
	font-size: var(--client-panel-icons-size);
}