/*error-label.css*/

.error-m {
	color: var(--aery-crimson);
	font-size: .8rem;
	display: inline-block;
	min-height: 1rem;
	visibility: hidden;
}

/* position the error labels relative
to .form-field container */
.form-field .error-m {
	position: absolute;
	left: 0;
	bottom: -0.5rem;
}

.error-m.is-active {
	visibility: visible;
}
