/* footer.css */

/* Here are defined the styles for the generic
footer component that appears on every page
including its children styles. */

footer {
	background-color: var(--aery-primary);
	opacity: .89;
	padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

footer, footer a {
	color: var(--aery-white);
}

footer a:hover {
	text-decoration: none;
}

footer address {
	font-size: 1.1rem;
	text-align: center;
	padding: .5rem;
}

footer .iconos {
	margin: .5rem;
}