/* forms.css */

/* generic styles for form controls,
buttons are defined under buttons.css */

input[type=text],
input[type=number],
input[type=tel],
input[type=password],
input[type=date],
input[type=time],
input[type=email],
input[type=search],
textarea {
	border: 1px solid var(--aery-secondary);
	border-radius: .3rem;
	color: var(--aery-secondary);
	font-family: inherit;
	font-size: 1.1rem;
	margin: .5rem 0;
	padding: .5rem 1rem;
	outline: none;
	user-select: none;
}

input[type=text]:hover,
input[type=number]:hover,
input[type=tel]:hover,
input[type=password]:hover,
input[type=date]:hover,
input[type=time]:hover,
input[type=email]:hover,
input[type=search]:hover,
textarea:hover {
	box-shadow: inset -1px -1px 3px var(--aery-secondary);
}

input[type=text]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=password]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=email]:focus,
input[type=search]:focus,
textarea:focus {
	box-shadow: inset -1px -1px 1.5px var(--aery-secondary);
}

input[type=text]::placeholder,
input[type=number]::placeholder,
input[type=tel]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=search]::placeholder,
textarea::placeholder {
	color: var(--aery-secondary);
}