/* home.css */

/* These are the rules for the homepage only */

/* Client preferences:
primary colors: #562912 = rgb(86, 41, 18), #744A27 = rgb(116, 74, 39)
secondary colors: #D3D3D3 = rgb(211, 211, 211) */

/* HEADER: homepage header, logotype and positioning */

header {
	height: auto;
}

/* container for the logotype and nav menu */
.main-menu-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

/* logotype and business name side to side as a title */
.logo-container {
	display: flex;
	margin: auto;
	align-items: center;
}

/* container for img logo */
.logo {
	max-height: 150px;
	max-width: 150px;
	margin-right: 1.5rem;
}

.logo img {
	object-position: 0 25%;
	object-fit: scale-down;
	pointer-events: none;
	user-select: none;
}

.logo, .logo a, .logo img {
	outline: none;
}

/* BODY: sections/argticles of the page's body */

/* turns main content container into flexbox */
.sections {
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 5vh 5vw;
}

/* main container blocks */
.sections section {
	margin: 5vh 0;
	text-align: center;
}

/* section blocks titles' styles */
.sections-h > h3, .sections-h > h2 {
	margin: 1.2rem 0;
}

.sections-h > h3 {
	font-size: 1rem;
}

.sections-h > h2 {
	font-size: 2.5rem;
}

/* section blocks img containers */
.sections-img {
	display: flex;
	flex-flow: row nowrop;
	gap: 1rem;
	justify-content: space-evenly;
	height: clamp(600px, 75vh, 800px);
}

/* img of the block container  */
.sections-img img {
	width: calc(90%/2);
	height: auto;
	object-fit: contain;
}

/* MEDIA QUERIES */

/* cellphones and small tablets */
@media only screen and (max-width: 712px) {
	.logo-container hgroup {
		font-size: 1em;
	}

	.sections-img {
		flex-flow: row wrap;
	}

	.sections-img img {
		width: 100%;
		height: calc(100%/2);
		object-fit: cover;
		object-position: 0 0;
	}
}