/* profile.css */

.profile-form fieldset {
	display: flex;
	flex-direction: column;
	max-width: clamp(300px, 500px, 50vw);
	margin: 2rem auto;
	padding: .8rem;
}

/* spacing between the text
and the form controls */
.profile-form p {
	margin-top: 1rem;
}

/* button container to split
buttons width equally */
.profile-form .buttons-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.profile-form .buttons-container > button {
	flex: 1;
	margin-top: 1rem;
}

.form-field {
	position: relative;
}

.form-field input:not([type=password]),
.form-field textarea {
	width: 100%;
}

.form-field input[type=password] {
	width: 100%;

	/* limit text show span to prevent
	it from showing under the eye icon */
	padding-right: 2.5rem;
}

/* show password icon */
.form-field .eye-icon {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: .8rem;
	cursor: pointer;
}

.form-field .eye-icon:hover {
	color: var(--primary);
}

.form-field .eye-icon:active {
	color: var(--btn-gray-bg1);
}

/* edit icon */
#edit-pencil:hover,
span:hover > #edit-pencil {
	color: var(--primary);
}

#edit-pencil:active,
span:active > #edit-pencil {
	color: var(--btn-gray-bg1);
}

/* hide checkbox to use it
through the edit icon */
#ck-edit {
	visibility: hidden;
}

section[id|=view] {
	display: none;
}

section.is-active {
	display: block;
}